[Unit]
Description=Ly display manager - hello from tuanna
# After=systemd-user-sessions.service plymouth-quit-wait.service
# After=getty@tty2.service
# Conflicts=getty@tty2.service
Conflicts=getty@tty1.service
After=getty@tty1.service systemd-user-sessions.service plymouth-quit.service acpid.service

[Service]
ExecStart=/usr/bin/ly-dm
# Type=idle
# StandardInput=tty
# TTYPath=/dev/tty2
# TTYReset=yes
# TTYVHangup=yes
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager

[Install]
Alias=display-manager.service
