[mgr]
ratio = [1, 4, 3]
linemode = "size_and_mtime"
show_hidden = true
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900

[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]
open = [
  { run = 'xdg-open "$@"', desc = "Open", for = "linux" },
]

[open]
rules = [
  { name = "*/", use = ["edit", "open", "reveal"] },
  { mime = "text/*", use = ["edit", "reveal"] },
  { mime = "image/*", use = ["open", "reveal"] },
  { mime = "video/*", use = ["open", "reveal"] },
  { mime = "audio/*", use = ["open", "reveal"] },
  { mime = "application/json", use = ["edit", "reveal"] },
  { mime = "*", use = ["open", "reveal"] },
]
