@define-color borders_breeze #cccccc;
@define-color content_view_bg_breeze #fafafa;
@define-color error_color_backdrop_breeze #a43c3c;
@define-color error_color_breeze #bf0303;
@define-color error_color_insensitive_backdrop_breeze #e5a4a4;
@define-color error_color_insensitive_breeze #e5a4a4;
@define-color insensitive_base_color_breeze #fafafa;
@define-color insensitive_base_fg_color_breeze #b4b4b4;
@define-color insensitive_bg_color_breeze #ffffff;
@define-color insensitive_borders_breeze #ededed;
@define-color insensitive_fg_color_breeze #b8b8b8;
@define-color insensitive_selected_bg_color_breeze #ffffff;
@define-color insensitive_selected_fg_color_breeze #b8b8b8;
@define-color insensitive_unfocused_bg_color_breeze #ffffff;
@define-color insensitive_unfocused_fg_color_breeze #b8b8b8;
@define-color insensitive_unfocused_selected_bg_color_breeze #ffffff;
@define-color insensitive_unfocused_selected_fg_color_breeze #b8b8b8;
@define-color link_color_breeze #4285f4;
@define-color link_visited_color_breeze #e040fb;
@define-color success_color_backdrop_breeze #306b46;
@define-color success_color_breeze #006e28;
@define-color success_color_insensitive_backdrop_breeze #a3c9b1;
@define-color success_color_insensitive_breeze #a3c9b1;
@define-color theme_base_color_breeze #fafafa;
@define-color theme_bg_color_breeze #ffffff;
@define-color theme_button_background_backdrop_breeze #f7f7f7;
@define-color theme_button_background_backdrop_insensitive_breeze #fafafa;
@define-color theme_button_background_insensitive_breeze #fafafa;
@define-color theme_button_background_normal_breeze #fafafa;
@define-color theme_button_decoration_focus_backdrop_breeze #ededed;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #f7f7f7;
@define-color theme_button_decoration_focus_breeze #f0f0f0;
@define-color theme_button_decoration_focus_insensitive_breeze #f7f7f7;
@define-color theme_button_decoration_hover_backdrop_breeze #dadad9;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #f0f0f0;
@define-color theme_button_decoration_hover_breeze #dcdcdc;
@define-color theme_button_decoration_hover_insensitive_breeze #f0f0f0;
@define-color theme_button_foreground_active_backdrop_breeze #323638;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #b8b8b8;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #b8b8b8;
@define-color theme_button_foreground_backdrop_breeze #353535;
@define-color theme_button_foreground_backdrop_insensitive_breeze #b4b4b4;
@define-color theme_button_foreground_insensitive_breeze #b4b4b4;
@define-color theme_button_foreground_normal_breeze #333333;
@define-color theme_fg_color_breeze #333333;
@define-color theme_hovering_selected_bg_color_breeze #6fb5ff;
@define-color theme_selected_bg_color_breeze #00a0d7;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #323232;
@define-color theme_titlebar_background_backdrop_breeze #3e4147;
@define-color theme_titlebar_background_breeze #36393e;
@define-color theme_titlebar_background_light_breeze #ffffff;
@define-color theme_titlebar_foreground_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_breeze #dcdcdc;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_insensitive_breeze #787878;
@define-color theme_unfocused_base_color_breeze #f7f7f7;
@define-color theme_unfocused_bg_color_breeze #fbfbfb;
@define-color theme_unfocused_fg_color_breeze #353535;
@define-color theme_unfocused_selected_bg_color_alt_breeze #c6e7f8;
@define-color theme_unfocused_selected_bg_color_breeze #c6e7f8;
@define-color theme_unfocused_selected_fg_color_breeze #323638;
@define-color theme_unfocused_text_color_breeze #343434;
@define-color theme_unfocused_view_bg_color_breeze #fafafa;
@define-color theme_unfocused_view_text_color_breeze #b4b4b4;
@define-color theme_view_active_decoration_color_breeze #00a0d7;
@define-color theme_view_hover_decoration_color_breeze #00a0d7;
@define-color tooltip_background_breeze #505050;
@define-color tooltip_border_breeze #737373;
@define-color tooltip_text_breeze #dcdcdc;
@define-color unfocused_borders_breeze #cacaca;
@define-color unfocused_insensitive_borders_breeze #ededed;
@define-color warning_color_backdrop_breeze #a28437;
@define-color warning_color_breeze #b08000;
@define-color warning_color_insensitive_backdrop_breeze #e0cfa3;
@define-color warning_color_insensitive_breeze #e0cfa3;
